<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Given URL</h4>
    </div>
     <div class="col-md-3">
      <h4>Short URL</h4>
    </div>
  </div>
  <% @urls.each do |url| %>
    <div class="row well">
      <div class="col-md-3">
        <h4> <%= url.original_url %> </h4>
      </div>
      <div class="col-md-3">
        <h4> <%= link_to url.short_url, "https://#{url.original_url}", target: '_blank' %></h4>
      </div>
      <div class="col-md-3">
        <h4> <%= link_to "Delete", url_path(url.id), method: :delete, class: "btn btn-danger" %></h4>
      </div>
    </div>
  <% end %>
</div>